.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1.5em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #F8F2B4;



  border-radius: $base-border-radius;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;
  color: $primary-text-color;
  opacity: 0;

  .card-image {
    height: 240px;
    max-height: 240px;
    overflow: hidden;
    margin: 0;
    padding: 0;

    #google {
      width: 100%;
      height: 240px;
      background: url('../images/Google_IO_2017.png') center center no-repeat;
      background-size: auto 150px;
      background-color: #13a08d;
    }

    #apple {
      width: 100%;
      height: 240px;
      background: url('../images/appleLogo2.png') center center no-repeat;
      background-size: auto 100px;
      background-color: #333;
    }

    #snap {
      width: 100%;
      height: 240px;
      background: url('../images/snap1.jpg') center center no-repeat;
      background-size: cover;
    }

    #surface {
      width: 100%;
      height: 240px;
      background: url('../images/surface.jpg') center center no-repeat;
      background-size: cover;
    }

    #tesla {
      width: 100%;
      height: 240px;
      background: url('../images/tesla.png') center center no-repeat;
      background-size: cover;
    }

    #oneplus {
      width: 100%;
      height: 240px;
      background: url('../images/oneplus.jpg') center center no-repeat;
      background-size: cover;
    }

    #jordan {
      width: 100%;
      height: 240px;
      background: url('../images/jordan.jpg') center center no-repeat;
      background-size: cover;
    }

    #box {
      width: 100%;
      height: 240px;
      background: url('../images/box.jpg') center center no-repeat;
      background-size: cover;
    }

    #mars {
      width: 100%;
      height: 240px;
      background: url('../images/mars.jpg') center center no-repeat;
      background-size: cover;
    }

    #china {
      width: 100%;
      height: 240px;
      background: url('../images/china.jpeg') center center no-repeat;
      background-size: cover;
    }

    #nike {
      width: 100%;
      height: 240px;
      background: url('../images/nike.jpg') center center no-repeat;
      background-size: cover;
    }

    #gdrive {
      width: 100%;
      height: 240px;
      background: url('../images/gdrive.jpg') center center no-repeat;
      background-size: cover;
    }

    #startup {
      width: 100%;
      height: 240px;
      background: url('../images/startup.jpg') center center no-repeat;
      background-size: cover;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  .card-header {
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    margin: 0;
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: $tranistions;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}
